{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
{% load humanize %}

{% block css %}

{% endblock %}



  <!--================ Start Header Menu Area =================-->

  <!--================ End Header Menu Area =================-->

  <!-- ================ start banner area ================= -->

  <!-- ================ end banner area ================= -->


  <!--================Checkout Area =================-->
  {% if user.id == 3 %}
    <section class="checkout_area section-margin--small">
      <div class="container">
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Detalles de compra</h3>
              <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="first" name="name" placeholder="Primer nombre">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="last" name="name" placeholder="Apellido">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="number" name="number" placeholder="Número de teléfono">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="email" name="compemailany" placeholder="Email">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="email" name="compemailany" placeholder="Comuna">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="add1" name="add1" placeholder="Ciudad">
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="add2" name="add2" placeholder="Nombre calle">
                </div>
                <div class="col-md-4 form-group p_star">
                  <input type="text" class="form-control" id="city" name="city" placeholder="Nro. casa">
                </div>
                <div class="col-md-4 form-group p_star">
                  <input type="text" class="form-control" id="city" name="city" placeholder="Nro. dpto (ocpional)">
                </div>
                <div class="col-md-4 form-group">
                  <input type="text" class="form-control" id="zip" name="zip" placeholder="Código postal">
                </div>
                <div class="col-md-12 form-group mb-0">
                  <div class="creat_account">
                    <h3>Detalles de envío</h3>
                  </div>
                  <textarea class="form-control" name="message" id="message" rows="1"
                    placeholder="Comentarios adicionales (opcional)"></textarea>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Tú pedido (Descuento aplicado)</h2>
                <ul class="list">
                  <li><a href="#">
                      <h4>Productos <span>Total</span></h4>
                    </a></li>

                  {% for x in items %}
                  
                  <li><a href="#">{{ x.producto.nombre }} x{{ x.cantidad }} <span class="middle"></span> <span class="last">$ {{x.total_rebaja_prod | intcomma}}</span></a>
                  </li>
                  {% endfor %}
                </ul>
                <ul class="list list_2">
                  <li><a href="#">Subtotal <span>$ {{total_rebaja | intcomma}}</span></a></li>
                  <li><a href="#">Envío: <span>$ 2.000</span></a></li>
                  <li><a href="#">Total CLP: <span>CLP $ {{ total_final_clp_reb | intcomma}}</span></a></li>
                  <li><a href="#">Total USD: <span>USD $ {{ total_final_usd_reb | intcomma}}</span></a></li>

                </ul>
                <div class="payment_item active">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector">
                    <label for="f-option6"> Paypal </label>
                    <img src="{% static 'core/img/fotos/paypal.png' %}" alt="">
                    <div class="check"></div>
                  </div>
                  <p>Pagar vía Webpay: nuestro método de pago seguro y confiable, te permite realizar transacciones rápidas y seguras en nuestro sitio web. Aceptamos todas las principales tarjetas de crédito y débito.</p>
                </div>
                <div class="creat_account">
                  <input type="checkbox" id="f-option4" name="selector">
                  <label for="f-option4">he leído y acepto los </label>
                  <a href="#">terminos de uso y condiciones*</a>
                </div>
                <div class="text-center">
                  <p><div id="btnPaypal"></div></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="checkout_area section-margin--small">
      <div class="container">
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Detalles de compra</h3>
              <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="first" name="name" placeholder="Primer nombre">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="last" name="name" placeholder="Apellido">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="number" name="number" placeholder="Número de teléfono">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="email" name="compemailany" placeholder="Email">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="email" name="compemailany" placeholder="Comuna">
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="add1" name="add1" placeholder="Ciudad">
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="add2" name="add2" placeholder="Nombre calle">
                </div>
                <div class="col-md-4 form-group p_star">
                  <input type="text" class="form-control" id="city" name="city" placeholder="Nro. casa">
                </div>
                <div class="col-md-4 form-group p_star">
                  <input type="text" class="form-control" id="city" name="city" placeholder="Nro. dpto (ocpional)">
                </div>
                <div class="col-md-4 form-group">
                  <input type="text" class="form-control" id="zip" name="zip" placeholder="Código postal">
                </div>
                <div class="col-md-12 form-group mb-0">
                  <div class="creat_account">
                    <h3>Detalles de envío</h3>
                  </div>
                  <textarea class="form-control" name="message" id="message" rows="1"
                    placeholder="Comentarios adicionales (opcional)"></textarea>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Tú pedido</h2>
                <ul class="list">
                  <li><a href="#">
                      <h4>Productos <span>Total</span></h4>
                    </a></li>
                  {% for x in items %}
                  
                  <li><a href="#">{{ x.producto.nombre }} x{{ x.cantidad }} <span class="middle"></span> <span class="last">$ {{x.subtotal | intcomma}}</span></a>
                  </li>
                  {% endfor %}
                </ul>
                <ul class="list list_2">
                  <li><a href="#">Subtotal <span>$ {{total | intcomma}}</span></a></li>
                  <li><a href="#">Envío: <span>$ 2.000</span></a></li>
                  <li><a href="#">Total CLP: <span>CLP $ {{ total_final_clp | intcomma}}</span></a></li>
                  <li><a href="#">Total USD: <span>USD $ {{ total_final_usd | intcomma}}</span></a></li>

                </ul>
                <div class="payment_item active">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector">
                    <label for="f-option6"> Paypal </label>
                    <img src="{% static 'core/img/fotos/paypal.png' %}" alt="">
                    <div class="check"></div>
                  </div>
                  <p>Pagar vía Paypal: nuestro método de pago seguro y confiable, te permite realizar transacciones rápidas y seguras en nuestro sitio web. Aceptamos todas las principales tarjetas de crédito.</p>
                </div>
                <div class="creat_account">
                  <input type="checkbox" id="f-option4" name="selector">
                  <label for="f-option4">he leído y acepto los </label>
                  <a href="#">terminos de uso y condiciones*</a>
                </div>
                <div class="text-center">
                  <p><div id="btnPaypal"></div></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <!--================  End Checkout Area  =================-->



  <!--================ Start footer Area  =================-->
  {% endblock %}
  <!--================ End footer Area  =================-->



  {% block js %}
  <script src="https://www.paypalobjects.com/api/checkout.js" ></script>
  {% if user.id == 3 %}
    <script>
      paypal.Button.render({
        env: 'sandbox',
        client: {
          sandbox: 'ARLvzkfTvAu1ISw2MqDqLnGWgVn3lUr5UMDBi_lMt987FEWYqZa7imJzd9-8tZ5eRWtB3Xa6EIqpTRP-',
          production: 'demo_production_client_id'
        },
        locale: 'es_CL',
        style: {
          size: 'medium',
          color: 'gold',
          shape: 'rect'
        },
        commit: true,
        payment: function (data, actions){
          return actions.payment.create({
            transactions: [{
              amount: {
                total: '{{ total_final_usd_reb }}', //el total del carrito de compra
                currency: 'USD'
              }
            }]
          });
        },
        onAuthorize: function  (data, actions) {
          return actions.payment.execute().then(function () {
            //la lógica de lo que pasa luego del pago
            Swal.fire({
              title: 'Confirmación',
              text: 'Pago realizado correctamente',
              icon: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirmar'
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire('Pagado!', 'Pago realizado correctamente', 'success').then(function () {
                  window.location.href = "/add_compra/";
                })
              }
            })
          });
        },

        onCancel(data) {
          Swal.fire({
              title: 'Cancelado',
              text: 'Transacción cancelada',
              icon: 'error',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirmar'
            })
        },

        onError(err) {
          Swal.fire({
              title: 'Error',
              text: 'Ha ocurrdio un error con el pago',
              icon: 'error',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirmar'
            })
        }
      }, '#btnPaypal');
    </script>
  {% else %}
    <script>
      paypal.Button.render({
        env: 'sandbox',
        client: {
          sandbox: 'ARLvzkfTvAu1ISw2MqDqLnGWgVn3lUr5UMDBi_lMt987FEWYqZa7imJzd9-8tZ5eRWtB3Xa6EIqpTRP-',
          production: 'demo_production_client_id'
        },
        locale: 'es_CL',
        style: {
          size: 'medium',
          color: 'gold',
          shape: 'rect'
        },
        commit: true,
        payment: function (data, actions){
          return actions.payment.create({
            transactions: [{
              amount: {
                total: '{{ total_final_usd }}', //el total del carrito de compra
                currency: 'USD'
              }
            }]
          });
        },
        onAuthorize: function  (data, actions) {
          return actions.payment.execute().then(function () {
            //la lógica de lo que pasa luego del pago
            Swal.fire({
              title: 'Confirmación',
              text: 'Pago realizado correctamente',
              icon: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirmar'
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire('Pagado!', 'Pago realizado correctamente', 'success').then(function () {
                  window.location.href = "/add_compra/";
                })
              }
            })
          });
        },

        onCancel(data) {
          Swal.fire({
              title: 'Cancelado',
              text: 'Transacción cancelada',
              icon: 'error',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirmar'
            })
        },

        onError(err) {
          Swal.fire({
              title: 'Error',
              text: 'Ha ocurrdio un error con el pago',
              icon: 'error',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirmar'
            })
        }
      }, '#btnPaypal');
    </script>
  {% endif %}
  {% endblock %}
