{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}


{% endblock %}


{% block contenido %}

    
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nro. Orden</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Cambiar Estado</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in compras %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <h5>{{ x.id }}</h5>
                                            </div>
                                            <div class="media-body">  
                                            </div>
                                        </div>
                                    </td>
    
                                    <td>
                                        <h5> {{ x.usuario }} </h5>
                                    </td>
                                    <td>
                                        <h5>
                                            {{ x.estado }}
                                        </h5>
                                    </td>
                                    <td>
                                        <a href="{% url 'estadocompra' x.id %}" style="text-decoration: none;"><i class="ti-angle-right"></i></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'detalle' x.id %}" style="text-decoration: none;"><i class="ti-angle-right"></i></a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            {% endfor %}
    
                            
                            <tr class="bottom_button">
                                <td>
                                   
                                </td>
                                <td>
    
                                </td>
                                <td>
    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}




{% block js %}

{% endblock %}
