{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
{% load humanize %}


{% block css %}

{% endblock %}
<section class="" style="background-color:#dbe3da;">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__img" >
            <img class="img-fluid " src="{% static 'core/img/fotos/banner.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
          <div class="hero-banner__content">
            <h1 style="font-family: 'Besttia Brush', sans-serif;">Mis compras</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nro. Orden</th>
                            <th scope="col">Total compra</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Detalles</th>
                            <th scope="col">Seguimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in compras %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <h5>{{ x.id }}</h5>
                                        </div>
                                        <div class="media-body">  
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <h5>$ {{ x.total | intcomma}}</h5>
                                </td>
                                <td>
                                    <h5>
                                        {{ x.estado }}
                                    </h5>
                                </td>
                                <td>
                                    <a href="{% url 'detalle' x.id %}" style="text-decoration: none;"><i class="ti-angle-right"></i></a>
                                </td>
                                <td>
                                    <a href="{% url 'trackingorder' x.id %}" style="text-decoration: none;"><i class="ti-angle-right"></i></a>
                                </td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}

                        
                        <tr class="bottom_button">
                            <td>
                               
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}





{% block js %}
{% endblock %}